@font-face {
  font-family: 'display';
  src:
    url('fonts/display.ttf?5hwwdu') format('truetype'),
    url('fonts/display.woff?5hwwdu') format('woff'),
    url('fonts/display.svg?5hwwdu#display') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'display' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-compass:before {
  content: "\e905";
}
.icon-maximize:before {
  content: "\e906";
}
.icon-x:before {
  content: "\e907";
}
.icon-minus:before {
  content: "\e908";
}
